<header>
    <a  routerLink="/"> <img id="logo" src="assets/logo.svg"></a>
    <ul class="nav-container">
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
    </ul>
    <div class="header-right-icons-container">
        <a href="mailto:username@example.com?subject=Subject&body=message%20goes%20her"><img src="assets/mail.svg" alt="mail" /> </a>
        <!-- TODO: change theme handler (w/ scss) -->
        <a href="#"><img src="assets/moon.svg" alt="" /></a>
    </div>
    <img src="assets/coding_illustration.svg" class="coding-illustration"/>
</header>