header {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position:relative;
}

#logo {
  height: 40px;
}

a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 4px solid transparent;
}

.nav-container a.active {
  color: #c45454;
  border-bottom-color: #c45454;
}

.nav-container {
  list-style-type: none;
  margin-bottom: 0;
}

.nav-container > li {
  display: inline-flex;
  margin-left: 50px;
  // float: left;
}

.header-right-icons-container > a > img {
  height: 20px;
  margin-left: 30px;
}

.header-right-icons-container > img:first-child {
  height: 18px;
}

.coding-illustration {
  position: absolute;
  right: -30px;
  top: 70px;
}
