<footer >
    <p class="drop-mail-message">Interested in building something together? Drop me a message at <span>himanshu_chhabra@outlook.com</span></p>

    <div class="footer-links-container">
        <span><a href="https://drive.google.com/file/d/1sVge_q4_8S9QsgX-uTaCNoY4WzbTjtAC/view?usp=sharing" target="_blank">
        Resume
        </a>
        </span>
        <span><a href="https://www.linkedin.com/in/himanshuc3/" target="_blank">Linkedin</a>
        
        </span>
    </div>
</footer>