<div class="article-container">

<div *ngIf="$blogPostMetadata | async as blogPost">
<section class="header">
<div class="date-tags">
{{blogPost.date}} <span class="circle" ></span>
 <span *ngFor="let tag of blogPost.tags; let i =index" class="tag"><span> {{tag}} </span><span *ngIf="i !== blogPost.tags.length -1"> / </span> </span>
 </div>
 <div class="header-title-container">
<img src={{blogPost.icon}}  class="icon"/>
<h1 class="header-title">Blog Post by {{blogPost.title}}</h1>
 </div>
 
</section>
<img src={{blogPost.poster}} class="poster"/>
</div>
<div  class="scully-content">
<scully-content></scully-content>
</div>
</div>