.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero{
    text-align: center;

 & > h1 {
    text-transform: uppercase;
    color: white !important;
    margin-top: 80px;
    font-weight: 700;
}
// better spacing 
 & > p{
     font-size: 24px;
     line-height: 42px;
     text-align: left;
    hyphens: auto;
    width: 80%;
    margin: 40px auto 0;
 }
}

.about-me-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    & > h3 {
        font-size: 28px;
        color: white !important;
        font-weight: 400;
    }
}

.list-image-container{
    display: flex;
    justify-content: center; 
    width: 30px;
             margin-right: 20px;

}

.about-me-list{
    margin-top: 70px;
    list-style-type: none;
    padding: 0;
    width: 80%;

    & li {
        display: flex;
        margin-bottom: 30px;
        font-size: 20px;

    }
     img {
         height: 30px;
     }
     p {
         display: inline-block;
        //  white-space: pre;
         line-height: 32px;
    word-wrap: break-word;

     }
}

.social-container {
    margin-top: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 30px;
        margin-right: 60px;
    }

    img:last-child{
        margin-right: 0
    }
}

.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & > h3 {
        font-size: 28px;
        color: white !important;
        font-weight: 400;
    }
}

.albums-list-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    li {
        display: inline-flex;
        flex-direction: column;

    }

    img {
        width: 200px;
    }

    .album-info{
        text-align:center;

        .album {
           margin-top:20px;
           font-size: 22px; 
           color: #D0C5C5;
        }
        .artist{
            font-size: 16px;
            color:#4D4D4D;
            margin-top: 5px;
        }
    }
}

.vertical-rule{
    margin: 50px 0;
    display: flex;
    border-left:1px solid #484849;
    height:60px;
}