
<div class="hero_wrapper">
    <div class="left_hero">
        <p class="hero_text">
            Hello 👋 I'm Himanshu, <span class="designation"> a frontend <br /> 
            engineer</span> from New Delhi. <br />
        Currently <span class="company">@Rapyuta-Robotics</span>.
        </p>
        <div class="social-icons">
            <img src="assets/resume.svg" alt="">
            <img src="assets/twitter.svg" alt="">
            <img src="assets/github.svg" alt="">
            <img src="assets/instagram.svg" alt="">
        </div>
    </div>

    <div class="right_hero"><img src="#" alt=""></div>
</div>

    
    <section class="articles">
        <h1>recently published</h1>
        <div class="articles_container">
            <div class="article" *ngFor="let blog of recentBlogs">
                <img src="{{blog.path}}" alt="">
                <div class="article_text">
                    <div class="article_row_1">

                        <h4 class="article_header">{{blog.title}}</h4>
                        <p>{{blog.date}}</p>
                    </div>
                    <p class="blog_desc">{{blog.description}}</p>
                </div>
            </div>

          
        </div>
    </section>


    <section class="projects">
        <h1>projects</h1>
        <div class="projects_container">
            <div class="project" *ngFor="let project of projects">
                <img src="{{project.path}}" alt="">
                <div class="project_text">

                    <h1 class="project_title">{{project.title}}</h1>
                    <p class="description">{{project.description}}</p>
                </div>
                <div class="github">
                    <img src="assets/github-outline.svg" alt="">
                    source
                </div>
            </div>
           
        </div>
       
    </section>
