.hero_wrapper {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin-top: 80px;
}

.left_hero {
  display: flex;
  flex-direction: column;

  .social-icons {
    margin-top: 30px;
  }

  .social-icons > img {
    width: 25px;
    margin-right: 20px;
  }

  .hero_text {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;

    & .designation {
      font-weight: 500;
    }

    & .company {
      font-weight: 700;
    }
  }
}

.right_hero {
  position: relative;
  width: 200px;
  height: 200px;
  // border: 1px solid white;
  img {
    position: absolute;
    left: -300px;
    top: -120px;
    width: 800px;
    margin-top: 30px;
  }
}

.articles_container {
  margin-left: 20px;
}

.articles {
  margin-top: 80px;

  .article {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;

    & > img {
      width: 24px;
      margin: 10px 10px 0 0;
    }

    & .article_row_1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      & > p {
        font-weight: 700;
      }
    }

    & .article_header {
      font-size: 24px;
    }

    & .blog_desc {
      width: 70%;
      color: #4d4d4d !important;
      font-size: 20px;
    }
  }
}

.articles > h1,
.projects > h1 {
  text-transform: uppercase;
  color: #4d4d4d !important;
  font-weight: 800;
  font-size: 18px;
}

.projects {
  margin-top: 80px;
}

.project {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: 40px;
  width: 90%;
  margin: 40px auto 0;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #222121e3;
  }

  &:hover .github {
    opacity: 1;
  }
  & > img {
    width: 50px;
    margin-top: 10px;
    margin-right: 25px;
  }

  & .project_text > .description {
    color: #4d4d4d !important;
    font-size: 22px;
    width: 80%;
    line-height: 28px;
  }

  & .github {
    opacity: 0;
    top: 10px;
    right: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px 10px;
    background: #4d4d4d;
    border-radius: 5px;

    & > img {
      margin-right: 10px;
      width: 14px;
    }
  }
}
