
<div class="hero_wrapper">
    <div class="left_hero">
        <p>Hello I'm Himanshu, a frontend engineer from New Delhi. <br />
        Currently @Rapyuta-Robotics.
        </p>
        <div>
            <img src="#" alt="">
            <img src="#" alt="">
            <img src="#" alt="">
            <img src="#" alt="">
        </div>
    </div>

    <div class="right_hero"><img src="dp" alt=""></div>
    
    <section class="articles">
        <div class="articles_container">
            <div class="article">
                <img src="#" alt="">
                <div class="article_text">
                    <h4 class="article_header">on hover show poster for grayscale images</h4>
                    <p class="tags">React / Graphql / cqs / redux</p>
                </div>
            </div>

            <div class="article">
                <img src="#" alt="">
                <div class="article_text">
                    <h4 class="article_header">on hover show poster for grayscale images</h4>
                    <p class="tags">React / Graphql / cqs / redux</p>
                </div>
            </div>

            <div class="article">
                <img src="#" alt="">
                <div class="article_text">
                    <h4 class="article_header">on hover show poster for grayscale images</h4>
                    <p class="tags">React / Graphql / cqs / redux</p>
                </div>
            </div>
        </div>
    </section>


    <section class="projects">
        <div class="projects_container--2">
            <div class="project">
                <img src="project-image" alt="">
                <h1 class="project_title">Cric-cli</h1>
                <p class="description">A cli extension to follow cricket in cli.</p>
            </div>
            <div class="project">
                <img src="project-image" alt="">
                <h1 class="project_title">Cric-cli</h1>
                <p class="description">A cli extension to follow cricket in cli.</p>
            </div>
        </div>
        <div class="projects_container--3">
            <div class="project">
                <img src="project-image" alt="">
                <h1 class="project_title">Cric-cli</h1>
                <p class="description">A cli extension to follow cricket in cli.</p>
            </div>
            <div class="project">
                <img src="project-image" alt="">
                <h1 class="project_title">Cric-cli</h1>
                <p class="description">A cli extension to follow cricket in cli.</p>
            </div>
            <div class="project">
                <img src="project-image" alt="">
                <h1 class="project_title">Cric-cli</h1>
                <p class="description">A cli extension to follow cricket in cli.</p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="work_mail">Interested in working with me ? <br>
        Drop me a message at himanshu_chhabra@outlook.com
        </div>

        <div class="links"><p>Resume</p> <p>LinkedIn</p></div>
    </section>
</div>