/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';



div {
  transition: all 0.3s;
}

.ng-fa-icon {
  transition: color 0.8s;
}


html,body{
height: 100% !important;
width: 100vw;
font-size: 16px;
scrollbar-width:thin;
overflow-x: hidden;
font-family: 'Inter', sans-serif;
background: #161618 !important;
    color: #D0C5C5 !important;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    color: #ADAAAA !important;
}

.bold {
    font-weight: 700;
}

body::-webkit-scrollbar {
  width: 5px;  
  overflow: overlay;     
  display:block;

}

p::selection, h1::selection, h2::selection, span::selection, li::selection,
a::selection, h4::selection, img::selection {
  background: rgba(230,230,230,0.1) ;
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
  border: 1px solid #4d4d4d;
}

body::-webkit-scrollbar-thumb {
  background-color:#4d4d4d;    /* color of the scroll thumb */
}

@media only screen and (max-width:500px){
  html{
    font-size: 12px;
  }
}