/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html,body{
height: 100% !important;
width: 100%;
overflow-x: hidden;
font-family: 'Inter', sans-serif;
background: #161618 !important;
    color: #D0C5C5 !important;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    color: #ADAAAA !important;
}

.bold {
    font-weight: 700;
}